/* #region basic properties */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bgbody);
    text-align: center;
    font-family: 'Fredoka One', cursive;
}
:root{
    --bgbody: #fffffe;
    --bgcard: #0f0e17;
    --title: #e53170;
    --textcard:white;
}
/* #endregion basic properties  */

/* #region utility properties */
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.cards img{
    margin-right: 20px;
}

.data{
    display: inline-block;
    vertical-align: middle;
    text-align: left; 
    padding-right:15px;
}

.margin{
    margin:13px 0;
}
/* #endregion utility properties */

h1{
    color: var(--title);
    margin: 30px;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.container > p{
    margin-bottom: 40px;
}

.section{
    margin: auto;
}
.container-cards .cards{
    width:calc(100% / 3 - 2.5rem);
    float: left;
    color: var(--textcard);
    text-align: left;
    background-color: var(--bgcard); 
    margin-bottom: 1rem;
    margin-right: 1.25rem;
    margin-left: 1.25rem;
    box-shadow: 2px 2px 4px grey,
               -2px -2px 4px grey;
}

.cards img {
    height: 120px;
    float: left;
}



